<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration scan="true">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="javax.mail" level="WARN"/>
    <logger name="ch.qos.logback" level="WARN"/>
    <logger name="com.zaxxer" level="WARN"/>
    <logger name="io.undertow" level="WARN"/>
    <logger name="io.undertow.websockets.jsr" level="ERROR"/>
    <logger name="org.apache" level="WARN"/>
    <logger name="org.apache.catalina.startup.DigesterFactory" level="OFF"/>
    <logger name="org.hibernate.validator" level="WARN"/>
    <logger name="org.hibernate.SQL" level="WARN"/>
    <logger name="org.hibernate.ejb.HibernatePersistence" level="OFF"/>
    <logger name="net.ttddyy.dsproxy.listener" level="DEBUG"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.springframework.web" level="WARN"/>
    <logger name="org.springframework.security" level="WARN"/>
    <logger name="org.springframework.cache" level="TRACE"/>
    <logger name="org.hibernate.cache" level="OFF"/>
    <logger name="org.ehcache" level="WARN"/>
    <logger name="org.thymeleaf" level="WARN"/>
    <logger name="org.xnio" level="WARN"/>
    <logger name="com.microsoft.sqlserver.jdbc.internals" level="WARN"/>
    <logger name="com.amazonaws.request" level="DEBUG"/>
    <logger name="io.github.bucket4j" level="DEBUG"/>
    <logger name="io.swagger.v3" level="INFO"/>
    <logger name="org.springframework.data.mongodb.core.MongoTemplate" level="DEBUG"/>
    <logger name="org.mongodb" level="WARN"/>

    <!-- https://logback.qos.ch/manual/configuration.html#shutdownHook and https://jira.qos.ch/browse/LOGBACK-1090 -->
    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <logger name="vn.lotusviet.hotelmgmt" level="DEBUG"/>

</configuration>