<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
  <head>
    <title th:text="#{email.welcome.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
  </head>
  <body>
    <p th:text="#{email.welcome.greeting(${account.lastName + ' ' + account.firstName})}">Dear</p>
    <p th:text="#{email.welcome.text1}"></p>
    <p>
      <a th:with="url=(@{|${baseUrl}|})" th:href="${url}" th:text="${url}">link</a>
    </p>
    <p>
      <span th:text="#{email.welcome.text2}">Regards, </span>
      <br />
      <em th:text="#{email.signature}"></em>
    </p>
  </body>
</html>